@* TODO - Terminar de fazer o registro puxando os tipos sanguineos do banco *@

@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Criar nova conta</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control" autocomplete="given-name" aria-required="true" placeholder="First Name" />
                <label asp-for="Input.FirstName">First Name</label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control" autocomplete="family-name" aria-required="true" placeholder="Last Name" />
                <label asp-for="Input.LastName">Last Name</label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="tel" aria-required="true" placeholder="Phone Number" />
                <label asp-for="Input.PhoneNumber">Phone Number</label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.CPF" class="form-control" autocomplete="off" aria-required="true" placeholder="CPF" />
                <label asp-for="Input.CPF">CPF</label>
                <span asp-validation-for="Input.CPF" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Nascimento" class="form-control" autocomplete="off" aria-required="true" placeholder="Nascimento" />
                <label asp-for="Input.Nascimento">Nascimento</label>
                <span asp-validation-for="Input.Nascimento" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.OrgaoExpedidor" class="form-control" autocomplete="off" aria-required="true" placeholder="Orgao Expedidor" />
                <label asp-for="Input.OrgaoExpedidor">Orgao Expedidor</label>
                <span asp-validation-for="Input.OrgaoExpedidor" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Naturalidade" class="form-control" autocomplete="off" aria-required="true" placeholder="Naturalidade" />
                <label asp-for="Input.Naturalidade">Naturalidade</label>
                <span asp-validation-for="Input.Naturalidade" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Nacionalidade" class="form-control" autocomplete="off" aria-required="true" placeholder="Nacionalidade" />
                <label asp-for="Input.Nacionalidade">Nacionalidade</label>
                <span asp-validation-for="Input.Nacionalidade" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.NomeDaMae" class="form-control" autocomplete="off" aria-required="true" placeholder="Nome da Mae" />
                <label asp-for="Input.NomeDaMae">Nome da Mae</label>
                <span asp-validation-for="Input.NomeDaMae" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.NomeDoPai" class="form-control" autocomplete="off" aria-required="true" placeholder="Nome do Pai" />
                <label asp-for="Input.NomeDoPai">Nome do Pai</label>
                <span asp-validation-for="Input.NomeDoPai" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Emprego" class="form-control" autocomplete="off" aria-required="true" placeholder="Emprego" />
                <label asp-for="Input.Emprego">Emprego</label>
                <span asp-validation-for="Input.Emprego" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.CEP" class="form-control" autocomplete="off" aria-required="true" placeholder="CEP" />
                <label asp-for="Input.CEP">CEP</label>
                <span asp-validation-for="Input.CEP" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="Input.IdTipoSanguineo" class="form-control" autocomplete="off" aria-required="true">
                @foreach(var iten in Model.aBOs)
                {
                    <option value="@iten.ID">@iten.TipoSanguineo @(iten.IsPositivo ? "+" : "-")</option>
                }
                </select>
                <label asp-for="Input.IdTipoSanguineo">Escolha seu Tipo Sanguíneo</label>
                <span asp-validation-for="Input.IdTipoSanguineo" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Sexo" class="form-control" autocomplete="off" aria-required="true" placeholder="Sexo" />
                <label asp-for="Input.Sexo">Sexo</label>
                <span asp-validation-for="Input.Sexo" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Endereco" class="form-control" autocomplete="off" aria-required="true" placeholder="Endereco" />
                <label asp-for="Input.Endereco">Endereco</label>
                <span asp-validation-for="Input.Endereco" class="text-danger"></span>
            </div>

            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<style>
    body {
        background-color: #f8f9fa;
        font-family: Arial, sans-serif;
    }

    .register-container {
        max-width: 600px;
        margin: auto;
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-top: 5px solid #e3342f;
    }

        .register-container h2 {
            color: #e3342f;
        }

    .form-floating label {
        color: #000000;
    }

    .btn-primary {
        background-color: #e3342f;
        border-color: #e3342f;
    }

        .btn-primary:hover {
            background-color: #d02c2a;
            border-color: #d02c2a;
        }

    .form-check-label {
        color: #000000;
    }
</style>