@using DoacaoSangueMVC.Entities;
@model List<Hemocentro>

@{
    ViewBag.Title = "Detalhes do Hemocentro";
}

<div class="container">
    <h3 class="card-title text-danger text-center">Informações do Hemocentro</h3>
    @foreach (var iten in Model)
    {
        <div class="card mt-4 bg-white position-relative" style="height: 300px;">
            <h5 class="card-title text-danger text-center">@iten.Nome</h5>
            <div class="card-body d-flex">
                <img style="width: 25%;" src="https://s2.glbimg.com/h-Y17kR85vnUQLnNX9CtqGRK_-M=/0x0:1280x592/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2021/F/R/Xw1HoORRGB5Ibcy2Q8zQ/whatsapp-image-2021-09-02-at-08.14.45.jpeg" alt="Foto do Hemocentro" class="img-fluid rounded">

                <div class="ml-4 flex-grow-1" style="padding-left: 15px; margin-top: 6%;">
                    <div class="row">
                        <div class="col">
                            <p class="card-text text-muted">Referência: @iten.Referencia</p>
                            <p class="card-text text-muted">CEP: @iten.CEP</p>
                        </div>
                        <div class="col">
                            <p class="card-text text-muted">Telefone: @iten.Telefone</p>
                            <p class="card-text text-muted">Email: @iten.Email</p>
                        </div>
                        <div class="col">
                            <p class="card-text text-muted">Endereço: @iten.Endereco</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end position-absolute" style="bottom: 10px; right: 10px;">
                @if(User.Identity.IsAuthenticated)
                {
                    <a href="@Url.Action("Agendamento","Hemocentro",new {Id = iten.Id})">
                        <button class="btn btn1 text-white" style="background-color: #C5141A;">Agendar Doação</button>
                    </a>
                }
                else{
                    <a asp-area="Identity" asp-page="/Account/Login">
                        <button class="btn btn1 text-white" style="background-color: #C5141A;">Logar para Agendar a doação</button>
                    </a>
                }            
                <a href="@Url.Action("BancoSangue","Hemocentro",new {Id = iten.Id})" style="margin-left: 20px">
                    <button class="btn btn2 text-white" style="background-color: #979797;">Ver Estoque de Sangue</button>
                </a>
            </div>
        </div>
        <div id="map" class="mt-4"></div>
    }
</div>
